

# Dependencias
backend/node_modules/
frontend/node_modules/

# Variables de entorno
backend/.env


# Logs
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de VS Code (opcional)
.vscode/

# Archivos de compilación
backend/dist/
frontend/dist/
